body {
	background-color: #f5f6fa;
}

.img-thumbnail {
	border: none;
	padding: 0;
	border-radius: 0;
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-block {
	position: relative;
}

.delete {
	position: absolute;
	top: 10px;
	right: 10px;
}

#book-form {
    -webkit-box-shadow: 0px 24px 50px -20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 24px 50px -20px rgba(0,0,0,0.3);
    box-shadow: 0px 24px 50px -20px rgba(0,0,0,0.3);
}
